// COLOR VARIABLES


// FUNCTION COLOR VARIABLES
// $color-prim: ;
// $color-sec: ;
//
// $color-text-light: ;
// $color-text-base: ;
// $color-text-dark: ;
//
// $color-border-light: ;
// $color-border-dark : ;
//
// $color-link-default: ;
// $color-link-visited: ;

$color-shadow: rgba(#000, 0.8);
// $color-body: ;

// FONT STACKS
$stack-sans-serif: helvetica, arial, sans-serif ;
$stack-helvetica:  "Helvetica Neue", $stack-sans-serif;



// BORDER RADIUS

$br: 10px;


// BREAKPOINTS AND DISPLAYS

$med-device: 28.125em;
$large-device: 58.125em;
